* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #293f50;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  padding: 0 2rem
}

.title {
  text-align: center;
  color: aliceblue;
}

.radio-btn {
  display: none;
  visibility: hidden;
}

.slider {
  display: grid; 
  grid-template-columns: 80% 20%;
  grid-template-rows: auto auto;
  gap: 1rem 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
  padding: 1rem 0;
}

.slides {
  display: flex;
  grid-column: 1/3;
  width: 600%;
  height: 25rem;
  transition: all 0.5s;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 25rem;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.descriprions {
  display: flex;
  width: 600%;
  height: fit-content;
  overflow: hidden;
  transition: all 0.5s;
}

.description {
  font-size: 1.5rem;
  color: aliceblue;
  padding: 0 1rem;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  background: #293f50;
  z-index: 10;
}

.bar {
  width: 1rem;
  height: 1rem;
  background-color: aliceblue;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

/* Interative */
.bar:hover {
  background-color: coral;
}

.bar:active {
  opacity: 0.5;
}

#r1:checked ~ .navigation .bar--1 {
  background-color: #293f50;
  border: 0.2rem solid coral;
}

#r2:checked ~ .navigation .bar--2 {
  background-color: #293f50;
  border: 0.2rem solid coral;
}

#r3:checked ~ .navigation .bar--3 {
  background-color: #293f50;
  border: 0.2rem solid coral;
}

#r4:checked ~ .navigation .bar--4 {
  background-color: #293f50;
  border: 0.2rem solid coral;
}

#r5:checked ~ .navigation .bar--5 {
  background-color: #293f50;
  border: 0.2rem solid coral;
}

#r6:checked ~ .navigation .bar--6 {
  background-color: #293f50;
  border: 0.2rem solid coral;
}

/* Slides */
#r1:checked ~ .slides {
  transform: translateX(0);
}

#r2:checked ~ .slides {
  transform: translateX(calc(-100% / 6));
}

#r3:checked ~ .slides {
  transform: translateX(calc(-100% / 6 * 2));
}

#r4:checked ~ .slides {
  transform: translateX(calc(-100% / 6 * 3));
}

#r5:checked ~ .slides {
  transform: translateX(calc(-100% / 6 * 4));
}

#r6:checked ~ .slides {
  transform: translateX(calc(-100% / 6 * 5));
}

/* Descriptions */
#r1:checked ~ .descriprions {
  transform: translateX(0);
}

#r2:checked ~ .descriprions {
  transform: translateX(calc(-100% / 6));
}

#r3:checked ~ .descriprions {
  transform: translateX(calc(-100% / 6 * 2));
}

#r4:checked ~ .descriprions {
  transform: translateX(calc(-100% / 6 * 3));
}

#r5:checked ~ .descriprions {
  transform: translateX(calc(-100% / 6 * 4));
}

#r6:checked ~ .descriprions {
  transform: translateX(calc(-100% / 6 * 5));
}